.app-footer {
  display: flex;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border-color;

  &-item {
    display: block;
    flex: 1;
    padding-top: .375rem;
    text-align: center;
    color: $footer-color;

    &--active {
      color: $footer-active-color;
    }
  }

  &-icon {
    position: relative;
  }

  &-label {
    margin: 0;
    padding-top: .125rem;
    font-size: $font-size-xxs;
  }

  .badge,
  .badge-dot {
    position: absolute;
    top: 0;
    left: 70%;
    transform: translateY(-30%);
  }

  .icon,
  img {
    font-size: $font-size-xxxl;
  }

  img {
    width: 1em;
    height: 1em;
  }
}
