.icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.right-arrow {
  &:after {
    content: "";
    display: inline-block;
    height: .625em;
    width: .625em;
    margin-left: .5em;
    color: $color-light;
    border-width: 2px 2px 0 0;
    border-style: solid;
    transform: rotateZ(45deg);
  }
}
