.popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $popup-z-index;
  transition: transform .3s;

  &-enter {
    transform: translateY(100%);
  }

  &-leave-active {
    transform: translateY(100%);
  }
}
