// $font-size-s    : 12px;
// $font-size      : 14px;
// $font-size-l    : 17px;

// $line-height    : 1.5;

// $font-weight    : 400;
// $font-weight-m  : 500;
// $font-weight-l  : 600;









// $btn-font-size    : $font-size-l;
// $btn-font-size-s  : $font-size;

// $dialog-font-size       : $font-size;
// $dialog-btn-font-size   : $font-size-l;
// $dialog-title-font-size : $font-size-l + 1;

// $cell-tip-font-size   : $font-size;
// $cell-font-size       : $font-size-l;


$bg: #fff !default;
$bg-dark: #f5f5f9 !default;
$color: #292b2c !default;
$color-gray: #888 !default;
$color-light: #bbb !default;
$color-primary: #1aad19 !default;
$border-color: #e5e5e5;
$link-color: #586c94 !default;
$link-hover-color: darken($link-color, 15%) !default;

// font-size
//
$font-size-xxxxl: 2rem;           // 32px
$font-size-xxxl:  1.75rem;        // 28px
$font-size-xxl:   1.5rem;         // 24px
$font-size-xl:    1.25rem;        // 20px
$font-size-l:     1.125rem;       // 18px
$font-size-m:     1.0625rem;      // 17px
$font-size:       1rem !default;  // 16px
$font-size-s:     .875rem;        // 14px
$font-size-xs:    .75rem;         // 12px
$font-size-xxs:   .625rem;        // 10px

// media queries
//
$desktop-width: 1024px;
// eg:
// @include mobile { ... }
@mixin mobile {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
// eg:
// @include pc { ... }
@mixin pc {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// app-header
//
$header-bg: #444 !default;
$header-color: #fff !default;
$header-border: 1px solid darken($header-bg, 10%) !default;
$header-active-color: darken($header-color, 5%) !default;
$header-height: 3rem !default;

// app-footer
//
$footer-bg: #fff !default;
$footer-color: #888 !default;
$footer-active-color: lighten($color-primary, 5%) !default;
$footer-border-color: darken($footer-bg, 15%) !default;

// button
//
$btn-font-size: $font-size-m !default;
$btn-primary-bg: lighten($color-primary, 5%) !default;
$btn-mini-font-size: $font-size-xs !default;

// badge
//
$badge-bg: #F43530 !default;
$badge-size: $font-size-xs !default;

// cell
//
$cells-gap: 1.5rem !default;
$cells-title-gap: .375rem !default;
$cells-title-size: $font-size-s !default;
$cells-title-color: $color-gray !default;

$cell-border-color: darken($bg, 10%) !default;
$cell-gap-v: .625rem !default;
$cell-gap-h: 1rem !default;
$cell-placehoder-color: lighten($color, 60%) !default;
$cell-hd-color: darken($color-gray, 15%) !default;
$cell-ft-color: $color-gray !default;

// toast
//
$toast-bg: rgba(0, 0, 0, .7) !default;
$toast-top: 8rem !default;
$toast-font-size: $font-size-s !default;

// dialog
//
$dialog-z-index: 2000 !default;
$dialog-bg: $bg !default;
$dialog-border-color: darken($bg, 10%) !default;
$dialog-primary-color: $color-primary !default;

// popup
//
$popup-z-index: 2000 !default;

// actionsheet
//
$actionsheet-bg: $bg-dark !default;
$actionsheet-item-gap: .75rem !default;

// picker
//
$picker-action-color: $color-primary !default;
$picker-item-height: 2.25rem !default;
$picker-font-size: $font-size-l !default;
$picker-bd-height: $picker-item-height * 7 !default;// 7 rows
$picker-indicator-top: (($picker-bd-height - $picker-item-height) / 2) !default;
