.router-view {
  display: flex;
  flex-direction: column;
  background-color: $bg-dark;
}

.app-header {
  display: flex;
  padding: 0 .75rem;
  height: $header-height;
  white-space: nowrap;
  align-items: center;
  color: $header-color;
  background-color: $header-bg;
  border-bottom: $header-border;

  &-left {
    flex: 1;
    white-space: nowrap;
  }

  &-right {
    flex: 1;
    justify-content: flex-end;
    display: flex;// Enable flex-end for some devices.
  }

  &-title {
    padding: 0 1rem;
    font-size: $font-size-l;
    flex-grow: 1;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-left,
  &-right {
    > a {
      font-size: $font-size-s;
      color: inherit;
    }

    > a,
    > .icon {
      &:active {
        opacity: .7;
      }
    }

    .icon {
      font-size: $font-size-xxl;
    }
  }

  &-left > a {
    margin-right: .5rem;
  }
  &-right > a {
    margin-left: .5rem;
  }

  &-back {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    border-style: solid;
    border-width: 0 0 0.125rem 0.125rem;
    transform: rotateZ(45deg);
  }
}

.app-body {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;// enhance ios scrolling
}

.app-footer {
  display: flex;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border-color;

  &-item {
    display: block;
    flex: 1;
    padding-top: .375rem;
    text-align: center;
    color: $footer-color;

    &-active {
      color: $footer-active-color;
    }
  }

  &-icon {
    position: relative;
  }

  &-label {
    margin: 0;
    padding-top: .125rem;
    font-size: $font-size-xxs;
  }

  .badge,
  .badge-dot {
    position: absolute;
    top: 0;
    left: 70%;
    transform: translateY(-30%);
  }

  .icon {
    font-size: $font-size-xxxl;
  }
}
