.dialog {
  position: fixed;
  top: 30%;
  right: 0;
  left: 0;
  z-index: $dialog-z-index;
  margin: 0 auto;

  border-radius: .25rem;
  background-color: $dialog-bg;

  width: 80%;
  max-width: 19rem;
  text-align: center;

  // vue transition
  transition-duration: .2s;
  transition-property: transform, opacity;

  word-wrap: break-word;
  word-break: break-all;

  &-enter {
    transform: scale(1.2);
    opacity: 0;
  }

  &-leave-active {
    transform: scale(.9);
    opacity: 0;
  }


  &-hd {
    padding: 1.5rem 1.5rem .25rem;
    font-size: $font-size-l;
  }

  &-bd {
    padding: 0 1.5rem 1.5rem;
    color: lighten($color, 30%);
  }

  &-ft {
    display: flex;
    border-top: 1px solid $dialog-border-color;
  }

  &-btn {
    display: block;
    flex: 1;
    border-right: 1px solid $dialog-border-color;
    line-height: 3;
    color: inherit;

    &:last-child {
      border: 0;
      color: $dialog-primary-color;
    }
  }
}
