.loading {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  border: 2px solid;
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle .8s infinite linear;

  &-light {
    font-size: 1.25rem;
    color: darken($bg, 30%);
  }

  &-holder {
    text-align: center;
    padding: .5rem;
  }
}

@keyframes circle {
  100% { transform: rotate(360deg); }
}
